<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vision.eduk8">

    <application
        android:allowBackup="true"
        android:icon="@drawable/blk_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/blk_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MyPostsActivity"></activity>
        <activity android:name=".ViewPostActivity" />
        <activity android:name=".TagsActivity" />
        <activity android:name=".ScanActivity" />
        <activity
            android:name=".SplashScreenManager"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dashboard"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ProfileView"
            android:screenOrientation="portrait" />
        <!--
<activity
            android:name=".QrScanningActivity"
            android:screenOrientation="portrait" />
        -->
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <!--
<activity
            android:name=".MessOffOption"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreditListPopulate"
            android:screenOrientation="portrait" />
        -->
        <activity
            android:name=".Feedback"
            android:screenOrientation="portrait" /> <!-- <activity android:name=".DataCompileActivity" /> -->
        <activity android:name=".GuestOrLogin" /> <!-- <activity android:name=".ReadBTandMarkAttendance" /> -->
        <activity android:name=".E_IDCard" />
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>